¡Tu Suscripción está pendiente por confirmación!

= "Hola #{@user.name}"

Hemos recibido tu archivo de pago satisfactoriamente

Una vez confirmemos el pago correspondiente, tu suscripción será activada y podrás disfrutar de nuestros Beneficios que esperemos disfrutes durante el mes.

Cualquier información adicional, no dudes en contactarnos.

¡Gracias por preferirnos!

Monitor Radial
