%h1 ¡Tu Suscripción está pendiente por confirmación!

%h3
  = "Hola #{@user.name}"

%h4 Hemos recibido tu archivo de pago satisfactoriamente
%p Una vez confirmemos el pago correspondiente, tu suscripción será activada y podrás disfrutar de nuestros Beneficios que esperemos disfrutes durante el mes.

%p Cualquier información adicional, no dudes en contactarnos.

%h2 ¡Gracias por preferirnos!
%h4 Monitor Radial
