.row.headercontent
  .col-3.mt-2.pl-5
    = image_tag 'admin.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Gestión del sistema
    .row.contenttext.text-muted
      En esta sección puedes gestionar el contenido a utilizar y mostrar para realizar el cálculo y análisis semanal de Monitor Radial
#lineaseparadora.mt-2
  %hr
.admincontainer.mt-5.mb-5
  .row.d-flex.justify-content-center
    .col-3.mt-4
      = link_to new_song_path, method: 'get', id: 'linksections' do
        .card#card-admin
          .card-body.d-flex.justify-content-center
            .row.align-self-center
              %h5{class: 'card-title text-center font-italic '} Agregar Lista de Canciones
    .col-3.mt-4
      = link_to broadcasters_manage_path, method: 'get', id: 'linksections' do
        .card#card-admin
          .card-body.d-flex.justify-content-center
            .row.align-self-center
              %h5{class: 'card-title text-center font-italic'} Gestionar Emisoras
  .row.mt-3.d-flex.justify-content-center
    .col-3.mt-4
      = link_to genres_path, method: 'get', id: 'linksections' do
        .card#card-admin
          .card-body.d-flex.justify-content-center
            .row.align-self-center
              %h5{class: 'card-title text-center font-italic'} Gestionar Generos Musicales
    .col-3.mt-4
      = link_to administration_users_path, method: 'get', id: 'linksections' do
        .card#card-admin
          .card-body.d-flex.justify-content-center
            .row.align-self-center
              %h5{class: 'card-title text-center font-italic'} Gestionar Usuarios
-# .row.mt-5
-#   .col-3
-#     = link_to billboard_top_100_path, method: 'get', id: 'linksections' do
-#       .card#card-admin
-#         .card-body.d-flex.justify-content-center
-#           .row
-#             %h5{class: 'card-title text-center font-italic'} Gestionar Artistas
