-if devise_error_messages!.present?
  .row.justify-content-center.headercontent
    .col-8
      .alert.alert-warning.alert-dismissible.fade.show
        .text-info= devise_error_messages!
        %button.close{ 'data-dismiss': 'alert' }
          %span x
-else
  .row.justify-content-center.headercontent
    .col-8
      #error_explanation
        .alert.alert-warning.alert-dismissible.fade.show
          %h5.text-center.text-info= "¡ #{flash.alert} !"
          %button.close{ 'data-dismiss': 'alert' }
            %span x
