.container
  .row.headercontent.mb-3
    .col-1
      = link_to genres_path, method: 'get', id: 'botonvolver' do
        .row.d-flex
          = image_tag 'izquierda.svg'
          .ml-1.align-self-center
            Volver
  .row.bodycontent
    .col.mt-5
      -if action_name == "new"
        %h1.text-center Agregar Género Musical
      -else
        %h1.text-center Editar Género Musical
      %hr
      #notice= render 'shared/alertsuccess' if (flash[:notice])
      #error= render 'shared/alerterror' if (flash[:alert])
      = form_with(model: @genre, local: true, id: "genreform" ) do |form|
        - if @genre.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
            %h4= "#{pluralize(@genre.errors.count, "error")} al intentar guardar el género musical:"
            %ul
              - @genre.errors.full_messages.each do |message|
                %li= message
            %button.close{ 'data-dismiss': 'alert' }
              %span x
        .form-group
          .row.justify-content-center
            .col-6
              = form.label :name, 'Nombre del género:'
              = form.text_field :name, class:'form-control', required: 'true'
        -if action_name == "edit"
          .form-group
            .row.justify-content-center
              .col-6
                = form.label :picture, 'Foto del Carrusel:'
                = form.file_field :picture, class: 'dropify'
        .actions.text-center
          = form.submit "Guardar", class: 'btn btn-lg', id: 'form-user-button'
