.row.justify-content-center.mt-5.bodycontent
  .col-6
    = image_tag 'vip.svg', height: '350px', width: '500px'
.row.justify-content-center.mt-3
  .col-4
    %h5.font-italic Usted posee una suscripción activa