.col-12
  .row.headercontent
    .col-3.pl-5.mt-4
      = image_tag 'podcast.svg'
    .col-9
      .row.suscriptiontitle.mb-2
        Suscripción en Monitor Radial
      .row.contenttext.text-muted
        Estimado Usuario,
        Nuestro Website tiene como objetivo presentar a los usuarios Reportes de música semanal.
        Las clasificaciones referentes a música se desprenden de la observación llamada "Share of Voice" o la participación del material discográfico en una muestra valida de todo el territorio entre las radioemisoras de más relevancia en cada región..
  #lineaseparadora.mt-2
    %hr
  .row.bodycontent.justify-content-center
    .col-10
      .card#inforectangle.mb-4.mt-3.contenttext
        %ul
          %li.mb-3
            %strong{class:'font-italic'}
              Top 100:
            Muestra las 100 canciones más sonadas en las emisoras monitoreadas durante la última semana, señala la posición que tiene en Esta Semana, la posición de la Semana Anterior, el número de Semanas en Cartelera, título, intérprete y sello disquero.
          %li.mb-3
            %strong{class:'font-italic'}
              Latin:
            Una observación particular sobre la misma muestra anterior aplicada sólo al producto en lengua hispana producido fuera del territorio venezolano.
          %li.mb-3
            %strong{class:'font-italic'}
              Pop-Rock:
            Destaca las primeras 100 canciones del género Pop-Rock, los detalles que se indican acá son los mismos que para el Top 100. La observación está basada sólo en las estaciones de radio donde predominan este estilo.
          %li.mb-3
            %strong{class:'font-italic'}
              Tradicional:
            Una muestra sobre los temas mas sonados de cada semana dentro del territorio venezolano.
          %li.mb-3
            %strong{class:'font-italic'}
              Balada:
            Destaca las primeras 50 canciones del género Balada, los detalles que se indican acá son los mismos que para el Top 100. La observación está basada sólo en las estaciones de radio donde predominan este estilo.
          %li
            %strong{class:'font-italic'}
              Salsa:
            Esta cartelera es un análisis particular tomando sólo en cuenta el material discográfico en el género de Salsa, de cualquier origen, producto de la difusión en todas las estaciones monitoreadas.
  .row
    .col.d-flex.justify-content-center
      -if current_user.present? && current_user.role == 'regular'
        = link_to "Enviar Pago", new_user_payment_path(user_id: current_user.id), class: 'btn btn-lg mb-4', id: 'form-user-button'
      -else
        = link_to "Registrarse", new_user_registration_path, class: 'btn btn-lg mb-4', id: 'form-user-button'
