-@top100foto = @top100genre.picture
-@latinofoto = @latinogenre.picture
-@tradicionalfoto = @tradicionalgenre.picture
-@baladafoto = @baladagenre.picture
-@salsafoto = @salsagenre.picture
-@popfoto = @popgenre.picture
-@rockfoto = @rockgenre.picture
-@emisorasfoto = @emisorasgenre.picture
.container
  .row.headercontent
    .col-3.pl-5
      = image_tag 'radio.svg'
    .col-9.mt-4
      .row.contenttitle.d-flex.justify-content-center.mb-2
        Monitor Radial
      .row.contenttext.text-muted
        Reportes y análisis semanales de la actualidad músical en Venezuela y en el exterior
  #lineaseparadora.mt-2
    %hr
  .row.mt-4.d-flex.justify-content-center.bodycontent.mb-5
    .col-8
      #carouselhome.carousel.slide{"data-ride" => "carousel"}
        .carousel-inner
          .carousel-item.active
            -if @top100genre.picture.attachment.present?
              = link_to billboard_top_100_path, method: 'get'  do
                %img.d-block.w-100{:alt => "Foto TOP100", :src => url_for(@top100foto), class: 'carruselimage'}/
            -else
              = link_to billboard_top_100_path, method: 'get'  do
                %img.d-block.w-100
                  = image_tag 'chynojbalvin.png', class: 'carruselimage'
          .carousel-item
            -if @latinogenre.picture.attachment.present?
              = link_to billboard_top_latino_path, method: 'get'  do
                %img.d-block.w-100{:alt => "Foto LATINO", :src => url_for(@latinofoto), class: 'carruselimage'}/
            -else
              = link_to billboard_top_latino_path, method: 'get'  do
                %img.d-block.w-100
                  = image_tag 'niko.jpeg', class: 'carruselimage'
          .carousel-item
            -if @tradicionalgenre.picture.attachment.present?
              = link_to billboard_top_tradicional_path, method: 'get'  do
                %img.d-block.w-100{:alt => "Foto TRADICIONAL", :src => url_for(@tradicionalfoto), class: 'carruselimage'}/
            -else
              = link_to billboard_top_tradicional_path, method: 'get'  do
                %img.d-block.w-100
                  = image_tag 'zulianidad.jpg', class: 'carruselimage'
          .carousel-item
            -if @baladagenre.picture.attachment.present?
              = link_to billboard_top_balada_path, method: 'get'  do
                %img.d-block.w-100{:alt => "Foto BALADA", :src => url_for(@baladafoto), class: 'carruselimage'}/
            -else
              = link_to billboard_top_balada_path, method: 'get'  do
                %img.d-block.w-100
                  = image_tag 'balada.jpg', class: 'carruselimage'
          .carousel-item
            -if @salsagenre.picture.attachment.present?
              = link_to billboard_top_salsa_path, method: 'get'  do
                %img.d-block.w-100{:alt => "Foto SALSA", :src => url_for(@salsafoto), class: 'carruselimage'}/
            -else
              = link_to billboard_top_salsa_path, method: 'get'  do
                %img.d-block.w-100
                  = image_tag 'moly.jpg', class: 'carruselimage'
          .carousel-item
            -if @popgenre.picture.attachment.present?
              = link_to billboard_top_pop_path, method: 'get'  do
                %img.d-block.w-100{:alt => "Foto POP", :src => url_for(@popfoto), class: 'carruselimage'}/
            -else
              = link_to billboard_top_pop_path, method: 'get'  do
                %img.d-block.w-100
                  = image_tag 'stefan.jpg', class: 'carruselimage'
          .carousel-item
            -if @rockgenre.picture.attachment.present?
              = link_to billboard_top_rock_path, method: 'get'  do
                %img.d-block.w-100{:alt => "Foto ROCK", :src => url_for(@rockfoto), class: 'carruselimage'}/
            -else
              = link_to billboard_top_rock_path, method: 'get'  do
                %img.d-block.w-100
                  = image_tag 'lolita.jpg', class: 'carruselimage'
          .carousel-item
            -if @emisorasgenre.picture.attachment.present?
              = link_to billboard_top_emisoras_path, method: 'get'  do
                %img.d-block.w-100{:alt => "Foto EMISORAS", :src => url_for(@emisorasfoto), class: 'carruselimage'}/
            -else
              = link_to billboard_top_emisoras_path, method: 'get'  do
                %img.d-block.w-100
                  = image_tag 'emisorasfoto.jpg', class: 'carruselimage'
        %ul.nav.nav-pills.nav-justified#navcarrusel
          %li.d-flex.active.seccioncarrusel.justify-content-center{"data-slide-to" => "0", "data-target" => "#carouselhome"}
            %a.selectorcarrusel.align-self-center{:href => "#"}
              TOP 100
          %li.d-flex.seccioncarrusel.justify-content-center{"data-slide-to" => "1", "data-target" => "#carouselhome"}
            %a.selectorcarrusel.align-self-center{:href => "#"}
              Latino
          %li.d-flex.seccioncarrusel.justify-content-center{"data-slide-to" => "2", "data-target" => "#carouselhome"}
            %a.selectorcarrusel.align-self-center{:href => "#"}
              Tradicional
          %li.d-flex.seccioncarrusel.justify-content-center{"data-slide-to" => "3", "data-target" => "#carouselhome"}
            %a.selectorcarrusel.align-self-center{:href => "#"}
              Balada
          %li.d-flex.seccioncarrusel.justify-content-center{"data-slide-to" => "4", "data-target" => "#carouselhome"}
            %a.selectorcarrusel.align-self-center{:href => "#"}
              Salsa
          %li.d-flex.seccioncarrusel.justify-content-center{"data-slide-to" => "5", "data-target" => "#carouselhome"}
            %a.selectorcarrusel.align-self-center{:href => "#"}
              Pop
          %li.d-flex.seccioncarrusel.justify-content-center{"data-slide-to" => "6", "data-target" => "#carouselhome"}
            %a.selectorcarrusel.align-self-center{:href => "#"}
              Rock
          %li.d-flex.seccioncarrusel.justify-content-center{"data-slide-to" => "7", "data-target" => "#carouselhome"}
            %a.selectorcarrusel.align-self-center{:href => "#"}
              Emisoras 
  .row.mt-2.d-flex.justify-content-center.bodycontent
    .col-8.text-center.top40title.mb-2
      TOP 40 DE LA SEMANA  
  .row.justify-content-center.mb-4
    %small
      %strong ES:
      Esta Semana,
      %strong SA:
      Semana Anterior
    .col-11
      %table#tablatops
        %thead{id: 'headtabla'}
          %tr
            %th
              .row.d-flex.justify-content-center
                ES
            %th
              .row.d-flex.justify-content-center
                SA
            %th
              .row.d-flex.justify-content-center
                INTERPRETE(S)
            %th
              .row.d-flex.justify-content-center
                TÍTULO
            %th
              .row.d-flex.justify-content-center
                SELLO
        %tbody
          - @top40.each_with_index do |song, index|
            - @lastweek.each_with_index do |lastsong, indice|
              - if song.titulo == lastsong.titulo
                - @posicionanterior = indice + 1
                - break
              - else
                - @posicionanterior = 'NA'
            %tr
              %td{id: 'itemtablatops'}
                .row.d-flex.justify-content-center
                  = index + 1
              %td{id: 'itemtablatops'}
                .row.d-flex.justify-content-center
                  -if @posicionanterior.present?
                    = @posicionanterior
                  -else
                    SA
              %td{id: 'itemtablatops'}
                .row.d-flex.justify-content-center
                  = song.interprete
              %td{id: 'itemtablatops'}
                .row.d-flex.justify-content-center
                  = song.titulo
              %td{id: 'itemtablatops'}
                .row.d-flex.justify-content-center
                  = song.sello