.container.mt-5
  %h2{class: 'text-center'} Iniciar Sesión
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render 'shared/alert' if flash.alert
    .form-group
      .row.justify-content-center
        .col-7
          = f.label :email, 'Correo electrónico'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
    .form-group
      .row.justify-content-center
        .col-7
          = f.label :password, 'Contraseña'
          = f.password_field :password, autocomplete: "current-password", class: 'form-control'
    - if devise_mapping.rememberable?
      .form-group
        .row.justify-content-center
          .col-3.align-self-center
            = f.check_box :remember_me
            = f.label :remember_me, 'Recordar usuario'
          .col-3.align-self-center
            = link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), id: 'forgot-password'
    .actions.text-center
      .form-group
        .row.justify-content-center
          .col-4
            = f.submit "Ingresar", class: 'btn btn-block', id: 'form-user-button'
      -#= render "devise/shared/links"
