.row.mb-3.headercontent
  .col-1
    = link_to payments_pending_path, method: 'get' do
      = image_tag 'izquierda.svg'
.row.headercontent
  .col-3.pl-5
    = image_tag 'user.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Procesar pago seleccionado
    .row.contenttext.text-muted
      En esta sección debes seleccionar el Estatus de Pago y procesarlo una vez hayas verificado el archivo enviado por el usuario para cancelar su cuota correspondiente.
= form_with(model: [@user, @payment], local: true) do |form|
  .row.form-group.justify-content-center.mt-5
    .col-6.form-label
      = form.label :paid_out, 'Estatus del Pago'
      = form.select :paid_out, ['procesado'], {include_blank: 'Seleccione'}, {class:'form-control custom-select text-capitalize'} #Payment.paid_outs.keys
      = form.fields_for :user, @user do |userform|
        = userform.hidden_field :status, value: 'activo'
        = userform.hidden_field :suscription_date, value: Time.now.strftime('%Y-%m-%d')
  .row.form-group.justify-content-center
    .col-6.form-label
      .actions
        .text-center= form.submit 'Procesar Pago', class: 'btn', id: 'form-user-button'
