.row.mb-3.headercontent
  .col-1
    = link_to administration_users_path, method: 'get', id: 'botonvolver' do
      .row.d-flex
        = image_tag 'izquierda.svg'
        .ml-1.align-self-center
          Volver
.row.headercontent
  .col-3.pl-5.mt-2
    = image_tag 'user.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Verificación de Pagos por Usuario
    .row.contenttext.text-muted
      En esta sección se muestra el historial de pagos realizado por el cliente seleccionado y a su vez se puede visualizar su estatus y el archivo que anexó en su oportunidad.
#lineaseparadora.mt-2
  %hr
-if @payments.present?
  .row.mt-3.justify-content-center.bodycontent.mb-5
    .col-8
      %table{class: 'table table-hover table-bordered', id: 'genreborder'}
        %thead.text-center
          %tr
            %th{colspan: '4'} Pagos realizados por el usuario
          %tr.font-italic
            %th Nombre y apellido
            %th Email
            %th Estatus del pago
            %th Adjuntos
        %tbody.text-center
          - @payments.each do |payment|
            %tr
              %td= payment.user.name
              %td= payment.user.email
              -if payment.paid_out == 'pendiente'
                %td{class:'text-capitalize text-warning'}= payment.paid_out
              -else
                %td{class:'text-capitalize text-success'}= payment.paid_out
              %td= link_to 'Ver Pago',url_for(payment.invoice), target: "_blank", id: 'see-payment'
              -# -if payment.paid_out == 'pendiente'
              -#   %td= link_to 'Procesar', edit_user_payment_path(payment.user_id, payment.id), class:'btn', id: 'form-user-button'
- else
  .row.mt-5.d-flex.justify-content-center.bodycontent
    .col-6
      .row.d-flex.justify-content-center
        = image_tag 'credit_card.svg', height: '250px', width: '300px', class: 'processing-paid'
  .row.mt-3.d-flex.justify-content-center.bodycontent.mb-5
    %h3{class: 'font-italic text-center'} No Existen Pagos Realizados por el Usuario
