.row.headercontent
  .col-3.pl-5
    = image_tag 'radio.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Mi cuenta
    .row.contenttext.text-muted
      En esta sección realizaras la carga del archivo en formato .PDF, .JPG, .JPEG o .PNG del pago que hayas realizado para cancelar la cuota mensual de la suscripción a los beneficios otorgados por ser miembro exclusivo de Monitor Radial.
#lineaseparadora.mt-2
  %hr
-if (@user.status == 'activo')
  = render 'shared/new_payment_user_active'
- else
  = render 'shared/new_payment_user_inactive', locals: {user: @user, payment: @payment}
