.row.mb-3.headercontent
  .col-1
    = link_to administration_users_path, method: 'get', id: 'botonvolver' do
      .row.d-flex
        = image_tag 'izquierda.svg'
        .ml-1.align-self-center
          Volver
.row.headercontent
  .col-3.pl-5.mt-2
    = image_tag 'user.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Verificación de Pagos Pendientes
    .row.contenttext.text-muted
      En esta sección se puedrá verificar todos aquellos pagos que se encuentren en proceso de verificación, de todos aquellos usuarios que enviaron su boucher de soporte a través de Monitor Radial.
#lineaseparadora.mt-2
  %hr

-if @payments.present?
  .row.mt-3.justify-content-center.bodycontent.mb-5
    .col-9
      %table{class: 'table table-hover table-bordered', id: 'genreborder'}
        %thead.text-center
          %tr
            %th{colspan: '5'} Pagos pendientes por Procesar
          %tr.font-italic
            %th Nombre y apellido
            %th Email
            %th Estatus del pago
            %th Adjuntos
            %th Acción
        %tbody.text-center
          - @payments.each do |payment|
            %tr
              %td= payment.user.name
              %td= payment.user.email
              %td{class:'text-capitalize text-warning'}= payment.paid_out
              %td= link_to 'Ver Pago', url_for(payment.invoice), target: "_blank", id: 'see-payment'
              %td= link_to 'Procesar', edit_user_payment_path(user_id: payment.user.id, id: payment.id), class:'btn', id: 'form-user-button'
-else
  .row.mt-5.justify-content-center.bodycontent
    .col-6
      .row.d-flex.justify-content-center
        = image_tag 'undraw_no_data_qbuo.svg', height: '250px', width: '400px', class: 'processing-paid'
  .row.mt-3.d-flex.justify-content-center.bodycontent.mb-5
    %h3{class: 'font-italic'} No Existen Registros por procesar
