.container
  .row.headercontent
    .col-3.pl-5.mt-4
      = image_tag ('contacto.svg'), heigth: '150px', width:'150px', class: ''
    .col-9.mt-4
      .row.contenttitle.d-flex.justify-content-center.mb-2
        Contáctenos
      .row.contenttext.text-muted
        Estimado Usuario,
        %p Puede contactarnos para solicitar su presupuesto, recibir información o cualquier consulta que tenga sobre nuestros servicios.
  #lineaseparadora.mt-2
    %hr
  .row.mt-5.justify-content-center.bodycontent
    .col-5.mt-3
      .card#cardcontact-background
        .card-body
          %h5{class: 'card-title text-center font-italic'} Omar Rodriguez
          %p{class: 'card-text text-center'} Gerente General y Administración
          %p{class: 'card-text text-center'} E-mail: info@monitorradial.com.ve
    .col-5.mt-3
      .card#cardcontact-background
        .card-body
          %h5{class: 'card-title text-center font-italic'} Omar Rodriguez
          %p{class: 'card-text text-center'} Director de Mercadeo y Sistemas
          %p{class: 'card-text text-center'} E-mail: info@monitorradial.com.ve
  .row.mt-4.justify-content-center
    .col-5
      .card#cardcontact-background
        .card-body
          %p{class: 'card-text text-center'} Teléfono: (+58-212) XXX.XXXX
          %p{class: 'card-text text-center'} Fax: (+58-212) XXX.XXXX
