// Place all the styles related to the billboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blanco: white;
$negroclaro: #181F29;
$purpura: #8343FF;
$negrooscuro: #191A1E;

#card-background{
  background-color: $negroclaro;
}

#linksections {
  color: $blanco;
  text-decoration: none;
}

#linksections:hover{
  font-weight: bold;
}

.first-img {
  position: relative;
}

.first-img:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 88%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $negroclaro;
}

.second-img {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text{
	position: absolute;
	top: 75%;
	text-align: center;
}

.top {
  display: block;
  opacity: 0.6;
}

#itemtablatops {
  background: $negroclaro !important;
  color: white;
  padding: 0px;
  text-align: center;
}

#itemtablatops:hover {
  background: $negrooscuro !important;
}


#tablatops {
  color: white;
  background: $negroclaro !important;
  border: solid 2px $purpura;
}

#tablatops_length {
  color: white !important;
  select {
   border: 2px solid $purpura !important;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: url('arrowdown.svg') no-repeat;
   background-position: 32px 5px;
   width: 55px;
   text-indent: 0.01px;
   text-overflow: "";
   padding-top: 2%;
   padding-bottom: 2%;
   background-color: white;
   border-radius:    10%;
   -webkit-border-radius:    10%;
   -moz-border-radius:    10%;
   -ms-border-radius:    10%;
   -o-border-radius:    10%;
}
}

#tablatops_filter {
  color: white !important;
  input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 3px solid $purpura;
}
}
#tablatops_info {
  color: white !important;
}

#tablatops_next {
  color: white !important;
  background: $negroclaro !important;
  border: 2px solid $purpura;
  border-radius: 5%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#tablatops_previous {
  color: white !important;
  background: $negroclaro !important;
  border: 2px solid $purpura;
  border-radius: 5%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
