// Place all the styles related to the broadcasters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#broadcastersrectangle {
  background-color: rgba(24, 31, 41, 0.5);
  border: 1px solid #8343FF;
  padding-top: 2%;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

#headerbroadcasters {
  padding-left: 5%;
  padding-right: 5%;
}

#itembroadcasters{
  padding-left: 5%;
  padding-right: 5%;
}

#lineaseparadora {
  background-color: #8343FF;
}