// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$purpura: #8343FF;
$negrooscuro: #191A1E;

#cardcontact-background{
  background-color: $purpura;
  border: solid 2px $negrooscuro;
}
