// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blanco: white;
$negroclaro: #181F29;
$negrooscuro: #191A1E;
$purpura: #8343FF;
$font-karla: Karla;

.table.table-bordered{
  border:2px solid $purpura;
  margin-top:20px;
}
.table.table-bordered > thead > tr > th{
  border:2px solid $purpura;
}
.table.table-bordered > tbody > tr > td{
  border:2px solid $purpura;
}


#genretablehead {
  background-color: rgba(24, 31, 41, 0.5);
}

#genretablebody {
  background-color: rgba(24, 31, 41, 0.5);
}
