// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$negrooscuro: #191A1E;
$negroclaro: #181F29;
$purpura: #8343FF;

.contenttitle {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: right;
  padding-right: 10%;
}

.top40title {
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

.contenttext {
  font-size: 1.2rem;
  text-align: justify;
}

#statsrectangle {
  background-color: rgba(24, 31, 41, 0.5);
  border: 1px solid #8343FF;
  padding-top: 2%;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}
.cardheader {
  padding-left: 10%;
}

.card-item {
  padding-left: 10%;
  padding-bottom: 1%;
  padding-top: 1%;
}
.card-item:hover {
  background-color: #181F29;

}

.thisweek {
  text-align: center;
}

.lastweek {
  text-align: center;
}

.dashboardweeks {
  text-align: center;
}

.positionchange {
  text-align: center;
}

.thisweekheader {
  text-align: center;
  font-weight: bold;
}

.lastweekheader {
  text-align: center;
  font-weight: bold;
}

.dashboardweeksheader {
  text-align: center;
  font-weight: bold;
}

.positionchangeheader {
  text-align: center;
  font-weight: bold;
}

.title-artist-stampheader {
  font-weight: bold;
}

.artistname {
  font-weight: bold;
}

#forgot-password{
  text-decoration: none;
  color: white;
}

#forgot-password:hover{
  text-decoration: none;
}

#see-payment{
  text-decoration: none;
  color: white;
}

#see-payment:hover{
  font-weight: bold;
}

#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}


.carruselimage {
  height: 365px;
  width: 100%;
}

#navcarrusel {
  height: 60px;
  background-color: $negroclaro;
}

.selectorcarrusel {
  color: white;
  text-decoration: none;
}

.selectorcarrusel:hover {
  color: white;
  text-decoration: none;
}

.seccioncarrusel {
  height: 100%;
  width: 12.5%;
  cursor: pointer;
}

.seccioncarrusel:hover {
  background-color: $purpura;
}


#carouselhome {
  border: 1px solid $purpura;
}