// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blanco: white;
$negroclaro: #181F29;
$negrooscuro: #191A1E;
$purpura: #8343FF;
$font-karla: Karla;

.modal-header {
  background: $purpura;
  color: white;
}


.white-text {
  color: white;
}

#payment_invoice-error {
  margin-top: 20%;
  color: $purpura;
}

#paymentamount {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding-right: 10%;
}

.processing-paid{
  opacity: 0.7;
}

.lipayments {
  color: $purpura;
  span {
    color: white;
  }
}

#imagepointer:hover {
  cursor: pointer;
}
