// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purpura: #8343FF;

#file-error {
  margin-top: 20%;
  color: $purpura;
}