// Place all the styles related to the subscription controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.suscriptiontitle {
  font-weight: bold;
  font-size: 2.2rem;
}

#inforectangle {
  background-color: rgba(24, 31, 41, 0.5);
  border: 1px solid #8343FF;
  padding-top: 2%;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
}
