.container-fluid
  .row
    = wicked_pdf_image_tag("logo-report.png")
  .row
    .col
      .row.justify-content-center.mb-2
        %h1{class:'text-center'} Cartelera Salsa Semanal
      .row.justify-content-right
        %p Esta clasificación se basa en la difusión recibida por cada título seleccionado en 22 estaciones de radio, distribuidas entre Caracas, el centro, oriente y occidente del país, tomando en cuenta la audiencia que cada una de ellas tiene en los sondeos más recientes. Margen de Error ± 3%.
      .row.justify-content-center
      %small
        %strong ES:
        Esta Semana,
        %strong SA:
        Semana Anterior,
        %strong SC:
        Semanas en Cartelera
  .row
    %table.table.table-striped
      %thead.thead-dark
        %th ES
        %th SA
        %th INTERPRETE(S)
        %th TÍTULO
        %th SELLO
      %tbody
        - @topsalsa.each_with_index do |song, index|
          - @lastweek.each_with_index do |lastsong, indice|
            - if song.titulo == lastsong.titulo
              - @posicionanterior = indice + 1
              - break
            - else
              - @posicionanterior = 'NA'
          %tr
            %td
              = index + 1
            %td
              = @posicionanterior
            %td
              = song.interprete
            %td
              = song.titulo
            %td
              = song.sello
