.row.headercontent
  .col-1
    = link_to billboard_path, method: 'get', id: 'botonvolver' do
      .row.d-flex
        = image_tag 'izquierda.svg'
        .ml-1.align-self-center
          Volver
.row.headercontent
  .col-3.mt-4.pl-5
    = image_tag 'radio.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Cartelera Top Tradicional Semanal
    .row.contenttext.text-muted
      Esta clasificación se basa en la difusión recibida por cada título seleccionado en 22 estaciones de radio, distribuidas entre Caracas, el centro, oriente y occidente del país, tomando en cuenta la audiencia que cada una de ellas tiene en los sondeos más recientes.
    -if (@user.role == 'admin')
      .row.signindiv.mt-2
        .col.d-flex.justify-content-end
          = link_to  billboard_top_tradicional_pdf_path(format: :pdf), method: 'get', class: 'btn', id: 'signinbutton' do
            Generar Reporte
#lineaseparadora.mt-2.mb-2
  %hr
.row.justify-content-center.mt-3
  %small
    %strong  Margen de Error:
    ± 3%.
    %strong ES:
    Esta Semana,
    %strong SA:
    Semana Anterior
.row.d-flex.justify-content-center.bodycontent.mb-5
  .col-12
    %table#tablatops
      %thead{id: 'headtabla'}
        %tr
          %th
            .row.d-flex.justify-content-center
              ES
          %th
            .row.d-flex.justify-content-center
              SA
          %th
            .row.d-flex.justify-content-center
              INTERPRETE(S)
          %th
            .row.d-flex.justify-content-center
              TÍTULO
          %th
            .row.d-flex.justify-content-center
              SELLO
      %tbody
        - @toptradicional.each_with_index do |song, index|
          - @lastweek.each_with_index do |lastsong, indice|
            - if song.titulo == lastsong.titulo
              - @posicionanterior = indice + 1
              - break
            - else
              - @posicionanterior = 'NA'
          %tr
            %td{id: 'itemtablatops'}
              .row.d-flex.justify-content-center
                = index + 1
            %td{id: 'itemtablatops'}
              .row.d-flex.justify-content-center
                = @posicionanterior
            %td{id: 'itemtablatops'}
              .row.d-flex.justify-content-center
                = song.interprete
            %td{id: 'itemtablatops'}
              .row.d-flex.justify-content-center
                = song.titulo
            %td{id: 'itemtablatops'}
              .row.d-flex.justify-content-center
                = song.sello
