.row.headercontent
  .col-3.pl-5
    = image_tag 'music.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Emisoras de radio analizadas
    .row.contenttext.text-muted
      En esta sección podrás consultar una lista actualizada de las emisoras radiales venezolanas que conforman la muestra de análisis semanal de Monitor Radial.
#lineaseparadora.mt-2
  %hr
.row.mt-4.bodycontent.mb-2
  .col-12
    .card#statsrectangleadmin
      .cardheader#headerbroadcastersadmin
        .row.mb-4
          .col-3.thisweekheader.d-flex.align-items-center.justify-content-center
            ESTACIÓN
          .col-1.lastweekheader.d-flex.align-items-center.justify-content-center
            REF.
          .col-2.dashboardweeksheader.d-flex.align-items-center.justify-content-center
            UBICACIÓN
          .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
            E-MAIL
          .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
            TELÉFONO
          .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
            RESPONSABLE
      - @broadcasters.each do |broadcaster|
        .card-item#itembroadcastersadmin
          .row.mb-1
            .col-3.thisweek.d-flex.align-items-center.justify-content-center
              = broadcaster.name
            .col-1.lastweek.d-flex.align-items-center.justify-content-center
              = broadcaster.ref
            .col-2.dashboardweeks.d-flex.align-items-center.justify-content-center
              = broadcaster.location
            .col-2.positionchange.d-flex.align-items-center.justify-content-center
              = broadcaster.email
            .col-2.positionchange.d-flex.align-items-center.justify-content-center
              = broadcaster.phone
            .col-2.positionchange.d-flex.align-items-center.justify-content-center
              = broadcaster.contact_name
