.row.mb-3.headercontent
  .col-1
    = link_to administration_path, method: 'get', id: 'botonvolver' do
      .row.d-flex
        = image_tag 'izquierda.svg'
        .ml-1.align-self-center
          Volver
.row.headercontent
  .col-3.mt-2.pl-5
    = image_tag 'radio.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Gestión de Emisoras Radiales
    .row.contenttext.text-muted
      A continuación podrás administrar el listado de emisoras que desees agregar, las cuales serán mostradas al público en general en la sección de Emisoras.
    - if @broadcasters.present?
      .row.signindiv.mt-3
        .col.d-flex.justify-content-end
          = link_to new_broadcaster_path, method: 'get', class: 'btn', id: 'signinbutton' do
            Agregar Emisora
#lineaseparadora.mt-2
  %hr
- if @broadcasters.present?
  .row.mt-4.bodycontent.mb-2
    .col-12
      .card#statsrectangleadmin
        .cardheader#headerbroadcastersadmin
          .row.mb-4
            .col-2.thisweekheader.d-flex.align-items-center.justify-content-center
              ESTACIÓN
            .col-1.lastweekheader.d-flex.align-items-center.justify-content-center
              REF.
            .col-2.dashboardweeksheader.d-flex.align-items-center.justify-content-center
              UBICACIÓN
            .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
              E-MAIL
            .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
              TELÉFONO
            .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
              RESPONSABLE
              .col-1.positionchange.d-flex.align-items-center.justify-content-center
        - @broadcasters.each do |broadcaster|
          .card-item#itembroadcastersadmin
            .row
              .col-2.thisweek.d-flex.align-items-center.justify-content-center
                = broadcaster.name
              .col-1.lastweek.d-flex.align-items-center.justify-content-center
                = broadcaster.ref
              .col-2.dashboardweeks.d-flex.align-items-center.justify-content-center
                = broadcaster.location
              .col-2.positionchange.d-flex.align-items-center.justify-content-center
                = broadcaster.email
              .col-2.positionchange.d-flex.align-items-center.justify-content-center
                = broadcaster.phone
              .col-2.positionchange.d-flex.align-items-center.justify-content-center
                = broadcaster.contact_name
              .col-1.positionchange.d-flex.align-items-center.justify-content-center
                .dropdown.dropleft
                  %button#dropdownMenuButton.btn{type: 'button', 'data-toggle':"dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}
                    = image_tag 'menu.svg'
                  .dropdown-menu#dropdownmenu{"aria-labelledby" => "dropdownMenuButton"}
                    .dropdown-item#dropdownmenuitem
                      =link_to edit_broadcaster_path(id: broadcaster.id), class: '', id: 'optionbutton' do
                        .row
                          .col-3
                            = image_tag 'pencil.svg'
                          .col-9
                            Editar
                    .dropdown-item#dropdownmenuitem
                      =link_to broadcaster_path(id: broadcaster.id), method: :delete, data: { confirm: '¿Esta seguro de eliminar esta emisora?'}, class: '', id: 'optionbutton' do
                        .row
                          .col-3
                            = image_tag 'bin.svg'
                          .col-9
                            Eliminar
- else
  .row.bodycontent
    .col-12
      .row.justify-content-center.mt-5
        = link_to new_broadcaster_path, method: 'get' do
          = image_tag 'añadirpago.svg'
      .row.justify-content-center
        = link_to new_broadcaster_path, method: 'get', id: 'forgot-password' do
          Presiona para agregar una nueva emisora


