!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Reportes
    = wicked_pdf_stylesheet_link_tag    "application", :media => "all"
    = wicked_pdf_javascript_include_tag "application"
    -# = stylesheet_link_tag wicked_pdf_asset_base64    "application", :media => "all"
    -# = javascript_include_tag wicked_pdf_asset_base64 "application"
    = csrf_meta_tags
    -# = wicked_pdf_image_tag image_tag wicked_pdf_asset_base64
  %body
    = yield
